bots
help
logos
screens

mods/*
!mods/weiwen

maps/*
!maps/rpg_mapb.map

gfx/*
!gfx/weiwen

sfx/*
!sfx/weiwen

sys/*
!sys/lua
sys/lua/*
!sys/lua/cs2dtibia

changelog.txt
CS2D -directx.bat
CS2D -fullscreen.bat
CS2D -fullscreen -directx.bat
CS2D.exe
Launcher.exe
Readme.txt
steam_api.dll
steamstub.dll
unins000.exe
unins000.dat
